@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&family=Roboto:wght@400;700&display=swap");

:root {
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
}

html {
  background-color: rgb(246, 246, 246);
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.solid,
h2,
.navBar,
button,
.aboutMe {
  box-shadow: 6px 10px 20px -2px rgb(61 61 61 / 50%);
}

.solid {
  width: 50%;
  margin: 3rem auto;
  border-top: 5px solid #51efa2;
  border-radius: 5px;
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin: 1rem 0;
}

header, .navBar, .miProfile {
  opacity: 0;
  transform: scale(0.9);
  transition: .5s ease-in-out all;
}

header p {
  font-size: 5rem;
}

p {
  text-align: center;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

section {
  margin: 1rem 0;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3rem;
  margin: 2rem 1rem 1rem;
  border-radius: 25px;
  background-color: #51efa2;
}

.miProfile {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 900;
}

a:hover {
  color: rgb(79, 79, 229);
  transition: color 0.1s ease-in;
}

.aboutMe {
  max-width: 45rem;
  display: flex;
  align-items: center;
  background-color: #51efa2;
  border-radius: 25px;
  padding: 1.8rem;
}

.aboutMe p {
  line-height: 2rem;
}

main section img {
  width: 9rem;
  margin-right: 0.5rem;
  border-radius: 25px;
}

h2 {
  margin: 2rem 0;
  padding: 0.5em;
  background-color: #51efa2;
  border-radius: 25px;
  font-size: 1.7rem;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5rem;
}

.projContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
  flex-wrap: wrap;
}

.tecno {
  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0;
  transform: scale(0.9);
  transition: .7s ease-in-out all;
}

.tecno-visible {
  opacity: 1;
  transform: scale(1);
}

.iconTecno {
  display: flex;
  align-items: center;
}

.iconTecno div img,
.iconTecno img {
  width: 5rem;
  height: 5rem;
  margin: 0.5rem 1.5rem;
}

h3 {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

section a img {
  width: 25rem;
  height: 15rem;
  margin: 1rem;
  border-radius: 25px;
}

section a img:hover {
  box-shadow: 6px 10px 12px -4px rgb(61, 61, 61, 0.5);
  transition: box-shadow 0.1s linear;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5rem;
}

.cursosDiv {
  width: 100%;
  margin: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cursosDiv p {
  line-height: 2rem;
}

.cs-divs {
  margin: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 25rem;
  margin: 2rem 0rem;
}

label {
  color: rgb(79, 79, 229);
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0.3rem;
  text-align: center;
}

input,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
}

input,
button {
  width: 24.5rem;
  height: 2rem;
  padding: 0 1rem;
  color: rgb(79, 79, 229);
  border: 0.5px solid #51efa2;
  border-radius: 25px;
}

input:focus {
  background-color: #51efa2;
  color: rgb(79, 79, 229);
}

input:focus-visible {
  outline: 2px solid rgb(79, 79, 229);
}

textarea {
  resize: none;
  color: rgb(79, 79, 229);
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  text-align: center;
  border: 0.5px solid #51efa2;
  border-radius: 25px;
}

textarea:focus {
  background-color: #51efa2;
  outline: 2px solid rgb(79, 79, 229);
}

button {
  border: none;
  background-color: #51efa2;
  margin: 0.3rem;
}

button:hover {
  background-color: rgb(79, 79, 229);
  color: #51efa2;
  transition: background-color 0.4s ease;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

footer div a img {
  width: 5rem;
  height: 5rem;
  padding: 0.5rem;
}

@media screen and (max-width: 767px) {
  :root {
    font-size: 14px;
  }
}